<%= form_for @comment do |f| %>
    
    <p>
      <%=	 f.label :name %><br />
      <%=	 f.text_field :name %>
    </p>
    
    <p>
      <%=	 f.label :body, "Comment" %><br />
      <%=	 f.label :body %>
    </p>
    
    <p>
      <%=	 f.submit "Submit Comment" %>
    </p>

<%	 end %>