<div id="content">
<div id="featured">

    <%=	 render "picks/featured_pick" %>

</div>

<div id="homepage_content">
  <h2>Welcome to My Sports Gambler</h2>

  Awesome sports picks and expert articles

</div>

<div id="blog_roll_list">
  <h3>Recent Posts</h3>



        <%	 @blogs.each do |blog| %>

        <h5><%=	 link_to blog.title, blog %></h5>
      <div id="blog_roll_item">
        <%=	 blog.body.slice(0..150) %>...

       </div>

         <%	 end %>

  <%=	 link_to "More", blogs_path %>

</div>
</div>

<div id="sidebar">
    <%=	 render "picks/picks_sidebar" %>
</div>

<div id="content_footer"></div>