<div id="pick">

<%=	 form_for @pick do |f| %>

    <%=	 render "layouts/error_messages", :target => @pick %>

      <p>
        <%=	 f.label :category_id %><br />
        <%=	 collection_select(:pick, :category_id, Category.all, :id, :name) %>
      </p>
      
    <p>
    <%=	 f.label :game %><br />
    <%=	 f.text_field :game %>
    </p>
    
    <p>
      <%=	 f.label :game_day, "Game Date" %><br />
      <%=	 f.datetime_select :game_day %>
    </p>
    
    <p>
      <%=	 f.label :pick %><br />
      <%=	 f.text_field :pick %>
    </p>
      
      <p>
        <%=	 f.label :image_url %><br />
        <%=	 f.text_field :image_url %>
      </p>
      
      <p>
        <%=	 f.label :outcome %>:
        <%=	 f.select :outcome, %w(Win Loss), :include_blank => true %>
      </p>
      
      <p>
        <%=	 f.label :profit %>
        $<%=	 f.text_field :profit %>
      </p>

      <p>
        <%=	 f.label :loss %>
        $<%=	 f.text_field :loss %>
      </p>
    
    <p>
      <%=	 f.label :analysis %><br />
      <%=	 f.text_area :analysis, :cols => "100" %>
    </p>
      
      <p>
        <%=	 f.check_box :featured %>
        <%=	 f.label :featured, "Featured Pick" %>
      </p>
    
    <p>
      <%=	 f.submit "Submit Pick" %>
    </p>

<%  end %>
</div>