<div id="record">

    <%=	 render "picks/picks_record" %>

</div>

<div id="money">

  <%=	 render "picks/money_record" %>

</div>

<div id="history">
<h4 align="center">Picks History</h4>
  <hr />

  <%	 @picks_history.each do |pick| %>

     <div id="history_sidebar">
       <%=	 link_to "#{pick.category.name}: #{pick.game}", pick %><br />
       <b>Outcome: </b><span class="format"><%=	 pick.outcome %></span>
     </div>

  <%	 end %>


  <p align="center"><%=	 link_to "See All", pickhistory_path %></p>
</div>