<div id="pick">

<%=	 form_for @pick do |f| %>

    <%=	 render "layouts/error_messages", :target => @pick %>

      <p>
        <%=	 f.label :category_id %><br />
        <%=	 f.collection_select :category_id, Category.all, :id, :name, {include_blank: false}, class: 'chosen-select', style: "width: 250px"  %>
      </p>
      
    <p>
    <%=	 f.label :game %><br />
    <%=	 f.text_field :game %>
    </p>
    
    <p>
      <%=	 f.label :game_day, "Game Date" %><br />
      <%=	 f.datetime_select :game_day %>
    </p>
    
    <p>
      <%=	 f.label :pick %><br />
      <%=	 f.text_field :pick %>
    </p>
      
      <p>
        <%=	 f.label :image_url %><br />
        <%=	 f.text_field :image_url %>
      </p>
      
      <p>
        <%=	 f.label :outcome %>:
        <%=	 f.select :outcome, %w(Win Loss Push), {include_blank: true}, class: 'chosen-select', style: "width: 150px"  %>
      </p>
      
      <p>
        <%=	 f.label :profit %>
        $<%=	 f.text_field :profit %>
      </p>

      <p>
        <%=	 f.label :loss %>
        $<%=	 f.text_field :loss %>
      </p>
    
    <p>
      <%=	 f.label :analysis %><br />
      <%=	 f.text_area :analysis, :cols => "100" %>
    </p>
      
      <p>
        <%=	 f.check_box :featured %>
        <%=	 f.label :featured, "Featured Pick" %>
      </p>
    
    <p>
      <%=	 f.submit "Submit Pick", class: "btn" %>
    </p>

<%  end %>
</div>