<div id="content">

<h1>Pick History</h1>

<%	 @history_picks.each do |pick| %>


        <div id="picks">
          <span class="details">Game: </span><%=	 link_to pick.game, pick %><br />
          <span class="details">Date: </span><span class="format"><%=	 pick.game_day.strftime("%m/%d/%Y") %></span><br />
          <span class="details">Pick: </span><span class="format"><%=	 pick.pick %></span><br />
          <span class="details">Outcome: </span><span class="format"><%=	 pick.outcome %></span><br />
          <%	 unless pick.profit.nil? %>
          <span class="details">Profit: </span><span class="profit"><%=	 number_to_currency(pick.profit) %></span>
              <%	 end %>
          <%	 unless pick.loss.nil? %>
          <span class="details">Loss: </span><span class="loss"><%=	 number_to_currency(pick.loss) %></span>
              <%	 end %>
        </div>




<%	 end %>
  <br />

  <%=	 will_paginate @history_picks %>

</div>

<div id="sidebar">

  <div id="record">
    <%=	 render "picks/picks_record" %>
  </div>

  <div id="money">

    <%=	 render "picks/money_record" %>

  </div>

</div>

<div id="content_footer"></div>