<div id="content">
  <%	 if user_signed_in? %>
  <%	 if current_user.has_role? :admin %>
      <%=	 link_to "New Pick", new_pick_path %>
  <%	 end %>
  <%	 end %>

<div id="featured">

<%=	 render "picks/featured_pick" %>
  </div>

  <div id="picks_content">
    <h2>Upcoming Picks</h2>

    <%	 @upcoming_picks.each do |pick| %>

        <%	 if pick.game_day > Time.now %>

    <h4>Game: <%=	 link_to pick.game, pick %></h4>
        <b>Game Day:</b> <%=	 pick.game_day.strftime("%m/%d/%Y")  %>
        <br /><br />

            <%	 end %>
        <%	 end %>
  </div>

  <%=	 Time.now %>
</div>

<div id="sidebar">
  <%=	 render "picks/picks_sidebar" %>
</div>

<div id="content_footer"></div>
