<div id="content">
  <%	 if user_signed_in? %>
  <%	 if current_user.has_role? :admin %>
      <%=	 link_to "New Pick", new_pick_path %>
  <%	 end %>
  <%	 end %>

<div id="featured">

<%=	 render "picks/featured_pick" %>
  </div>

  <div id="picks_content">
    <h2>Upcoming Picks</h2>

    <%	 @upcoming_picks.each do |pick| %>
        <%	 if pick.game_day > Time.now - 1.day %>

            <div id="picks_list">
                <b>Game: </b><%=	 link_to pick.game, pick %><br />
                <b>Game Day: </b><span class="format"><%=	 pick.game_day.strftime("%m/%d/%Y")  %></span>
            </div>

            <%	 end %>
        <%	 end %>

    <p align="center">
    <%=	 link_to "See All", upcomingpicks_path %>
    </p>
  </div>

</div>

<div id="sidebar">
  <%=	 render "picks/picks_sidebar" %>
</div>

<div id="content_footer"></div>
