<div id="content">


<h1><%	 unless @pick.category.nil? %><%=	 @pick.category.name %>: <% end %><%=	 @pick.game %></h1>

<%	 if user_signed_in? %>
    <%	 if current_user.has_role? :admin%>

        <%=	 link_to "Edit", edit_pick_path(@pick) %> |
        <%=	 link_to "Delete", @pick, confirm: "Are you sure?", method: :delete %>
        <br />
    <%	 end %>
<%	 end %>

  <p>
  <span class="details">Game Date: </span><span class="format"><%=	 @pick.game_day.strftime("%m/%d/%Y") %></span><br />
  </p>

     <p>
      <span class="details">Pick:</span> <span class="format"><%=	 @pick.pick %></span><br />
     </p>

  <%	 unless @pick.outcome.nil? %>

      <p>
    <span class="details">Outcome: </span><span class="format"><%=	 @pick.outcome %></span><br />
      </p>
      
      <%	 end %>
      <p>
      <span class="details">Analysis:</span><br />
      </p>


<div id="content_format">
  <%=	 simple_format(@pick.analysis) %>
</div>



</div>

<div id="sidebar">
  <%=	 render "picks/picks_sidebar" %>
</div>

<div id="content_footer"></div>

