<!DOCTYPE html>
<html>
<head>
  <title><%=	 page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div id="header">
    <%=	 render "layouts/header" %>
  </div>

    <div id="stage">

      <%	 if flash[:notice] %>
            <%=	 flash[:notice] %>
      <%	 end %>
        <%= yield %>

      

  </div>

</div>

</body>
</html>
