<!DOCTYPE html>
<html>
<head>
  <title><%=	 page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%=	 favicon_link_tag("ace.ico") %>

</head>
<body>

<div id="wrapper">
  <div id="header">
    <%=	 render "layouts/header" %>
  </div>

  <div id="navigation_wrapper">
    <%=	 render "layouts/nav_menu" %>
  </div>

    <div id="stage">
        <div id="stage_border">

      <%	 if flash[:notice] %>
          <div id="success_message">
            <%=	 flash[:notice] %>
          </div>
      <%	 end %>

      <%	 if flash[:error] %>
          <div id="error_message">
            <%=	 flash[:error] %>
          </div>
      <%	 end %>

        <%= yield %>

        </div>

  </div>

</div>
<%=	 render "layouts/google_analytics" %>

</body>
</html>
